<div class="card">
    <img src="<%= viewData.img.url %>" alt="album image">
    <div class="container">
      <h4><b><%= viewData.name %></b></h4>
      <p><%= viewData.artists %></p>
    </div>
  </div>